@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@font-face {
    font-family: "font-1";
    src: url("assets/NanumGothic-Regular.ttf");
}

/** {
    margin: 0;
    padding: 0;
}*/

body {
    font-family: "font-1", serif;
    /*background-color: beige;*/
    background: url("assets/bg.jpg") no-repeat fixed right/cover;
    /*height: 100vh;*/
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem; /*1rem = 16px > Taille de base*/
    color: darkblue;
    text-shadow: 8px 8px 10px darkseagreen;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

main {
    background: rgba(229, 235, 255, 0.4);
    width: 85%;
    min-height: 500px;
    margin: 10px auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #b0b0cb;
}

.positioning,
.flexbox,
.grid {
    border: 2px solid skyblue;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: "font-1", serif;
}

.positioning {
    position: relative;
}

h2 {
    margin: 0;
}

#circle {
    height: 60px;
    width: 60px;
    background: skyblue;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: 100px;
    box-shadow: 5px 0px 10px 0px #a5a5bf;
    z-index: 1;
}

#rectangle {
    height: 15px;
    width: 25%;
    background: cornflowerblue;
    padding: 20px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    /*z-index: 2;*/
}

/********* Flexbox *********/
ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 0.7rem;
    height: 160px;
    width: 160px;
    background: turquoise;
    /*centrer verticalement*/
    display: flex;
    align-items: center;
    justify-content: center;
}

/********* Grid *********/
.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 20px;
}

.img {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'i1 i2'
        'ta ta'
        'bt bt'
    ;
}

input,
textarea {
    margin: 5px;
    height: 40px;
    border: 1px solid darkblue;
    padding: 10px;
    border-radius: 5px;
    /*font-family: 'Indie Flower', cursive;*/
}

#firstname {
    grid-area: i1;
}

#surname {
    grid-area: i2;
}

textarea {
    grid-area: ta;
    resize: none;
}

input[type=submit] {
    grid-area: bt;
    cursor: pointer;
    background: skyblue;
    transition: 0.4s;
}

input[type=submit]:hover {
    background: darkcyan;
    color: white;
}

/********* Responsive *********/
@media screen and (max-width: 800px) {
    .grid-container {
        display: block;
    }
}

@media screen and (max-width: 630px) {
    form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'i1'
            'i2'
            'ta'
            'bt'
        ;
    }
}